
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    --text-color : white;
    font-family: Playpen Sans, sans-serif;
}
body{
    background-color:rgb(52, 52, 52) ;
    color: rgba(0, 0, 0, 0.808);
} 
header{
    background-color: rgb(218, 0, 0);
    height: 120px;
    font-size: 5rem;
    text-align: center;
    color: var(--text-color);
    font-weight: 700;
}
.container{
    display: grid;
    align-items: content;
    justify-content: center;
    height: calc(100vh - 100px);
}
.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* border: 1px solid black; */
    gap: 2px;
    /* padding: 2px; */
    /* background-color: yellow; */
  }
  .turn{
    margin-top: 30px;
    color: var(--text-color)
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 7rem;
    border: none;
    color: red;
    background-color: rgba(255, 227, 227, 0.2);
    /* border: 1px solid grey; */
    /* background: lightyellow; */
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }
  .cell:hover{
    scale: 0.9;
    border-radius: 5px;

  }
