/* 
/* 




.game{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3,120px);
    justify-content: center;
    align-content: center;
}

.cell{
    height: 100px;
    width: 100px;
    background-color: rgb(72, 34, 34);
    font-size: 4rem;
    color: blue;
    font-style: bold;
    display: grid;
    align-content: center;
    justify-content: center;
} */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:Beige ;
    color: rgba(0, 0, 0, 0.808);
} 
header{
    background-color: red;
    height: 100px;
    font-size: 5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.808);
    
}
.container{
    display: grid;
    align-items: content;
    justify-content: center;
    height: calc(100vh - 100px);
}
.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* border: 1px solid black; */
    gap: 1px;
    /* padding: 2px; */
    /* background-color: yellow; */
  }
  .turn{
    margin-top: 30px;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    border: none;
    color: red;
    background-color: rgba(0, 0, 0, 0.2);
    /* border: 1px solid grey; */
    /* background: lightyellow; */
    cursor: pointer;
  }