/* *{
    margin: 0;
    padding: 0;
    outline: 2px solid white;

}
body{
    background-color: rgba(0, 0, 0, 0.729);
} */
/* 


header{
    background-color: rgba(127, 255, 212, 0.763);
    height: 150px;
    font-size: 5rem;
    text-align: center;
}

.game{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3,120px);
    justify-content: center;
    align-content: center;
}

.cell{
    height: 100px;
    width: 100px;
    background-color: rgb(72, 34, 34);
    font-size: 4rem;
    color: blue;
    font-style: bold;
    display: grid;
    align-content: center;
    justify-content: center;
} */

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: yellow;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    background: lightyellow;
    cursor: pointer;
  }